@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Light.eot");
	src: local("☺"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype"),
		url("../fonts/Gilroy-Light.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-ExtraBold.eot");
	src: local("☺"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
		url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg") format("svg");
	font-weight: 800;
	font-style: normal;
}

* {
	box-sizing: border-box;
	color: #141c3a;
}

body {
	margin: 0;
	font-family: "Gilroy", sans-serif;
	font-weight: 400;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.header__inner {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 115px;
}

.menu__list {
	display: flex;
	list-style-type: none;
}

.menu__list-item + .menu__list-item {
	margin-left: 35px;
}

.menu__list-link {
	color: #141c3a;
	font-size: 17px;
	line-height: 30px;
	text-decoration: none;
}

.menu__list-item:first-child > .menu__list-link {
	color: #8428f8;
	font-size: 16px;
	font-weight: 800;
}

.menu__list-link:hover {
	color: #8428f8;
}

.header {
	border-bottom: 1px solid #e5ebf2;
}

.contacts__inner {
	text-align: center;
	margin: 100px 0;
}

.contacts__list {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	margin: 25px 0;
}

.contacts__list-item + .contacts__list-item {
	margin-left: 20px;
}

.contacts__list-link {
	color: #535e88;
	font-size: 17px;
	line-height: 30px;
	text-decoration: none;
}

h1 {
	font-size: 48px;
	font-weight: 800;
	margin: 55px 0;
}
